$primary: linear-gradient(to right bottom, rgba(81, 87, 83, 0.84), rgba(106, 113, 112, 0.85), rgba(135, 139, 141, 0.84), rgba(166, 167, 168, 0.83), #c4c4c4);
$lowGrey: rgba(192, 192, 192, 0.35);
$lowerGrey: rgb(192, 192, 192);
$hardGrey: rgba(90, 90, 90, 0.42);


@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Amaranth', sans-serif;
  color: #353535;
}

// FIRST HEADER SECTION + WAVES BACKGROUND

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 198px;
}

.wave .shape-fill {
  fill: #D1D1D1;
}


// First section

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding: 50px 10vw;

  h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  .intro {
    div {
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 2rem;
      text-align: justify;
      padding: 5px;
    }

    p {
      font-size: 1.6rem;
      text-align: left;
    }
  }

  .title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin-bottom: 6rem;
    width: 46vw;
    height: 11vh;
    border-radius: 16px 16px 7px 7px;
    box-shadow: 5px 20px 50px 5px rgba(121, 121, 121, 0.73);
    background: $lowerGrey;
  }

  .cardContainer {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 2rem;
    width: 90vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;

    .card {
      width: 22%;
      height: 98%;
      background: $lowerGrey;
      border-radius: 9px;
      box-shadow: 5px 20px 50px 5px rgba(77, 77, 77, 0.73);

      &:hover {
        transform: scale(2);
        z-index: 1;
      }
    }
  }
}

.intro div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lowerGrey;
  width: 29vw;
  height: 8vh;
  border-radius: 9px 9px 1px 1px;
  box-shadow: 7px 7px 25px 0 #bababa;
}

.intro div.info2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lowerGrey;
  width: 20vw;
  height: 8vh;
  margin-bottom: 5rem;
  border-radius: 9px 9px 1px 1px;
  box-shadow: 7px 7px 25px 0 #bababa;
}

.intro-p {
  line-height: 40px;
  margin-bottom: 3rem;
  font-size: 3rem;
}


hr {
  border: 2px solid $lowGrey;
  width: 80vw;
}

.project h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lowerGrey;
  width: 24vw;
  height: 12vh;
  margin-bottom: 5rem;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 7px 7px 25px 0 #bababa;
}


.skills {
  display: flex;
  justify-content: space-evenly;
  width: 95vw;
  height: 20vh;
  padding-top: 2rem;
  margin-bottom: 3rem;


  div:nth-child(1) {
    color: #e64c18;
  }

  :nth-child(2) {
    color: #006bc0;
  }

  :nth-child(3) {
    color: #f06292;
  }

  :nth-child(4) {
    color: #777bb3;
  }

  :nth-child(5) {
    color: #ffdf00;
  }

  div {
    width: 8%;
    height: 15vh;
    background: $hardGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow: 8px 8px 25px 0 rgba(157, 157, 157, 0.75);

    .fa-brands {
      font-size: 4rem;

      &:hover {
        font-size: 4.5rem;
      }
    }
  }
}

.section4 div {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  color: #353535;

  a i {
    font-size: 3.2rem;
    padding: 0.5rem;
    color: #353535;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  span {
    font-size: 3.2rem;
    padding: 0.5rem;

    i:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

footer {
  height: 20vh;
  width: 100%;
  background: $lowGrey;
  display: flex;
  justify-content: center;
  align-items: center;
}


